* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'copperplate', fantasy;
    background-color: #A5A9B4;
    color: #234912;
    line-height: 1.6;
}

header {
    background-color: #000053;
    color: #A5A9B4;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #A5A9B4;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0d6efd;
}

.section {
    padding: 100px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #000053;
}

p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.random-facts-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.random-facts {
    background-color: #234912;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.random-facst:hover {
    transform: scale(1.1);
}

.project {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #000053;
    color: #A5A9B4;
    font-family: 'copperplate', fantasy;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .skills-list {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        width: 100%;
        margin-bottom: 10px;
    }
}
